@import "tailwindcss";
@font-face {
  font-family: "Signika";
  src: url("/src/assets/fonts/Signika-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root{
    --clr-grey: #A3A3A3;
    --clr-green: #3F8C8E;
    --clr-bg: #f8f8f8;
}

.ant-btn-primary{
  background-color: var(--clr-green) !important;
}

body{
  overflow: hidden;
}

.containers{
  max-width: 1300px;
  margin: auto;
}

.active{
  color: var(--clr-green);
}

.ant-select-selection-search-input, .ant-select-selection-item, .ant-select-selection-placeholder{
  font-size: 20px !important;
}


@keyframes fade-in {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}
